<ul class="navbar-nav">
	@if (Context.Request.Cookies.ContainsKey("UserName"))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="TaiKhoan" asp-action="Index">@Context.Request.Cookies["UserName"]!</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="TaiKhoan" asp-action="DangXuat">Logout</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="TaiKhoan" asp-action="DangNhap">Đăng nhập</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="TaiKhoan" asp-action="DangKy">Đăng ký</a>
		</li>
	}
</ul>