USE [master]
GO
/****** Object:  Database [QuanLyBanHoa]    Script Date: 27/10/2023 18:23:38 ******/
CREATE DATABASE [QuanLyBanHoa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanHoa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TUANTU\MSSQL\DATA\QuanLyBanHoa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBanHoa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TUANTU\MSSQL\DATA\QuanLyBanHoa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanHoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanHoa]
GO
/****** Object:  Table [dbo].[DeTai]    Script Date: 27/10/2023 18:23:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeTai](
	[Id] [nvarchar](450) NOT NULL,
	[MaDeTai] [varchar](10) NULL,
	[TenDeTai] [nvarchar](150) NULL,
	[KinhPhi] [money] NULL,
	[NoiThucTap] [nvarchar](250) NULL,
 CONSTRAINT [PK_DeTai] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 27/10/2023 18:23:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[Id] [nvarchar](450) NULL,
	[MaGV] [nvarchar](10) NULL,
	[TenGV] [nvarchar](150) NULL,
	[Luong] [money] NULL,
	[MaKhoa] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HuongDan]    Script Date: 27/10/2023 18:23:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuongDan](
	[Id] [nvarchar](450) NOT NULL,
	[MaDeTai] [varchar](10) NULL,
	[MaGV] [varchar](10) NULL,
	[MaSV] [varchar](10) NULL,
	[KetQua] [float] NULL,
 CONSTRAINT [PK_HuongDan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 27/10/2023 18:23:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[Id] [nvarchar](450) NOT NULL,
	[MaKhoa] [varchar](10) NULL,
	[TenKhoa] [nvarchar](150) NULL,
	[SDT] [varchar](10) NULL,
	[Filter] [nvarchar](150) NULL,
	[UrlImage] [nvarchar](150) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 27/10/2023 18:23:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[Id] [nvarchar](450) NOT NULL,
	[MaSV] [varchar](10) NULL,
	[TenSV] [nvarchar](150) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[MaKhoa] [varchar](10) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DeTai] ([Id], [MaDeTai], [TenDeTai], [KinhPhi], [NoiThucTap]) VALUES (N'004f6f50-4e5d-484a-86fb-ffd1e87f8397', N'DT404', N'DTNCDT404', 15000000.0000, N'HCM')
INSERT [dbo].[DeTai] ([Id], [MaDeTai], [TenDeTai], [KinhPhi], [NoiThucTap]) VALUES (N'03db5e1b-84f5-4119-b45d-8ea5ad34c76f', N'DT304', N'DTNCDT304', 12000000.0000, N'HCM')
INSERT [dbo].[DeTai] ([Id], [MaDeTai], [TenDeTai], [KinhPhi], [NoiThucTap]) VALUES (N'0684ac7d-f5cc-422b-a7ae-c74b9d7366bc', N'DT409', N'DTNCDT409', 10000000.0000, N'HCM')
GO
INSERT [dbo].[GiangVien] ([Id], [MaGV], [TenGV], [Luong], [MaKhoa]) VALUES (N'74b8f995-67c0-465a-8f7d-69ce99334b7b', N'10001', N'Nguyễn Mạnh Thiện', 15000000.0000, N'CNTT')
INSERT [dbo].[GiangVien] ([Id], [MaGV], [TenGV], [Luong], [MaKhoa]) VALUES (N'c8c2239f-598a-4152-b86c-ecb9083403ef', N'10002', N'Lăng Hữu Cường', 20000000.0000, N'CNTT')
INSERT [dbo].[GiangVien] ([Id], [MaGV], [TenGV], [Luong], [MaKhoa]) VALUES (N'8a4433cd-49bc-4982-8592-f740a3e79b4f', N'10003', N'Hoa Quang Dương', 15000000.0000, N'CNTT')
GO
INSERT [dbo].[HuongDan] ([Id], [MaDeTai], [MaGV], [MaSV], [KetQua]) VALUES (N'0290a3bc-d715-4169-93dc-7da9e7cb19c8', N'DT405', N'10001', N'70004010', 8)
INSERT [dbo].[HuongDan] ([Id], [MaDeTai], [MaGV], [MaSV], [KetQua]) VALUES (N'08089e14-44ff-4c0f-9e3e-b176a2e1e73a', N'DT404', N'40001', N'70004008', 8)
INSERT [dbo].[HuongDan] ([Id], [MaDeTai], [MaGV], [MaSV], [KetQua]) VALUES (N'0c31aa43-78f7-4c79-a027-b0f2b8f1b803', N'DT302', N'30001', N'70003004', 6)
GO
INSERT [dbo].[Khoa] ([Id], [MaKhoa], [TenKhoa], [SDT], [Filter], [UrlImage]) VALUES (N'3079d92c-b605-486d-a682-7d7a41905a9f', N'HD', N'hồ điệp', N'3855415', N'ho diep HD', NULL)
INSERT [dbo].[Khoa] ([Id], [MaKhoa], [TenKhoa], [SDT], [Filter], [UrlImage]) VALUES (N'39cec58a-e120-4646-b79b-ecdd75fbadff', N'DR', N'dendro', N'3855411', N'dendro DR', NULL)
INSERT [dbo].[Khoa] ([Id], [MaKhoa], [TenKhoa], [SDT], [Filter], [UrlImage]) VALUES (N'4c3d87d1-3d0d-41ee-847e-b0f46a70a241', N'VNU', N'vũ nữ', N'3855413', N'vũ nữ VN ', NULL)
GO
INSERT [dbo].[SinhVien] ([Id], [MaSV], [TenSV], [GioiTinh], [NgaySinh], [MaKhoa]) VALUES (N'00d96c07-2b7d-4a0e-b3e0-01c4977fc2a9', N'70003009', N'Hoàng Văn Đức', N'nam', CAST(N'1993-01-12' AS Date), N'DC')
INSERT [dbo].[SinhVien] ([Id], [MaSV], [TenSV], [GioiTinh], [NgaySinh], [MaKhoa]) VALUES (N'08b898cf-77db-47a5-a1af-db67694d6f80', N'70002002', N'Nguyễn Thị Mỹ', N'nữ', CAST(N'1990-06-17' AS Date), N'CNVL')
INSERT [dbo].[SinhVien] ([Id], [MaSV], [TenSV], [GioiTinh], [NgaySinh], [MaKhoa]) VALUES (N'0c29f3cf-a313-4310-88d1-3b987b5f7cb6', N'70002006', N'Trần Khắc Trọng', N'nam', CAST(N'1990-09-11' AS Date), N'CNVL')
GO
USE [master]
GO
