@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
    <link rel="stylesheet" href="~/css/taikhoan.css" asp-append-version="true" />
</head>
<body style="height: 760px; display: flex; justify-content: center; align-items: center;">
    <div class="form-box">
        <form class="form" asp-area="" asp-controller="TaiKhoan" asp-action="DangNhap" method="post">
            <span class="title">Login</span>
            <div class="form-container">
                <input type="email" name="Email" class="input" placeholder="Email">
                <input type="text" name="Username" class="input" placeholder="Username">
                <input type="password" name="Password" class="input" placeholder="Password">
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="form-section">
            <p>Have an account? <a asp-area="" asp-controller="TaiKhoan" asp-action="DangKy">Register</a> </p>
        </div>
    </div>
</body>
</html>